%h1 Listing tenants
.table_wrapper
  %table#instances.table.table-bordered.table-striped
    %thead
      %tr
        %th id
        %th Name
        %th Desciription
        %th Enabled
        %th actions_column
    %tbody
      - @tenants.each do |tenant|
        %tr.status_up
          %td= tenant[:id]
          %td=tenant[:name]
          %td=tenant[:description]
          %td=tenant[:enabled]
          %td.actions_column
            .btn-group
              =link_to 'Destroy', tenant_path(:id=>tenant[:id]), :confirm => 'Are you sure?', :method => :delete 
