
.row-fluid
  .span12
    %ul#instance_details.nav.nav-tabs.ajax-tabs
      %li.active
        %a{"data-loaded" => "true", "data-target" => "#instance_details__overview", "data-toggle" => "tab", :href => "?tab=instance_details__overview"} Overview
      %li
        %a{"data-loaded" => "false", "data-target" => "#instance_details__log", "data-toggle" => "tab", :href => "?tab=instance_details__log"} Log
      %li
        %a{"data-loaded" => "false", "data-target" => "#instance_details__vnc", "data-toggle" => "tab", :href => "?tab=instance_details__vnc"} VNC
    .tab-content
      #instance_details__overview.tab-pane.active
        %h3 Instance Overview
        .status.row-fluid
          %h4 Status
          %hr.header_rule
            %ul
              %li
                %strong Status:
                =@server.status
              %li
                %strong Instance Name:
                =@server.name
              %li
                %strong> Instance ID:
                =@server_detail[:id]
        .specs.row-fluid
          %h4 Specs
          -flavor =compute.flavors.select{|c| c["id"]==@server.flavor["id"]}[0]
          %hr.header_rule
            %ul
              %li
                %strong> RAM:
                =flavor[:ram] 
                MB
              %li
                %strong> VCPUs:
                =flavor[:vcpus]
                VCPU
              %li
                %strong> Disk:
                =flavor[:disk]
                GB
        .addresses.row-fluid
          %h4 IP Addresses
          %hr.header_rule
            %ul
              -@server.addresses.each do |addr|
                %li
                  %strong
                    =addr.label
                  =addr.address
        .security_groups.row-fluid
          %h4 Security Groups
          %hr.header_rule
            %ul
              %li
                %strong default
                %ul
                  %li
                    %em No rules defined.
        .meta.row-fluid
          %h4 Meta
          %hr.header_rule
            %ul
              %li
                %strong> Key name:
                \ 
                %em None
              %li
                %strong> Image Name:
                \ cirros-0.3.0-x86_64-blank
        .volumes.row-fluid
          %h4 Volumes
          %hr.header_rule
            %ul
              %li
                %em No volumes attached.
      #instance_details__log.tab-pane
      #instance_details__vnc.tab-pane