%h1 Listing users
.table_wrapper
  %table#instances.table.table-bordered.table-striped
    %thead
      %tr
        %th id
        %th Name
        %th Email
        %th Enabled
        %th actions_column
    %tbody
      - @users.each do |user|
        %tr.status_up
          %td=user[:id]
          %td=user[:name]
          %td=user[:email]
          %td=user[:enabled]
          %td.actions_column
            .btn-group
              =link_to 'Destroy', user_path(:id=>user[:id]), :confirm => 'Are you sure?', :method => :delete 
              
