%h1 Listing roles
.table_wrapper
  %table#instances.table.table-bordered.table-striped
    %thead
      %tr
        %th id
        %th Name
        %th Email
        %th Enabled
        %th actions_column
    %tbody
      %tr.status_up
        %td=1