%h1 Listing snapshots
.table_wrapper
  %table#instances.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Status
        %th Public
        %th Container Format
        %th.actions_column Actions
    %tbody
      - @snapshots.each do |image|
        %tr.status_up
          %td= image[:name]
          %td= image[:status]
          %td= (image[:is_public] == true && "Yes")||"No"
          %td= image[:container_format]

