.table_wrapper
  %table#instances.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Host
    %tbody
      - @services.each do |service|
        %tr
          %td= service["type"]
          %td=  URI.parse(service["endpoints"][0]["publicURL"]).host