<h1>Listing snapshots</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snapshots.each do |snapshot| %>
  <tr>
    <td><%= link_to 'Show', snapshot %></td>
    <td><%= link_to 'Edit', edit_snapshot_path(snapshot) %></td>
    <td><%= link_to 'Destroy', snapshot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Snapshot', new_snapshot_path %>
