%h1 Listing snapshots
.table_wrapper
  %table#instances.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Description
        %th Size
        %th Status
        %th Volume ID
        %th CreatedAt
        %th.actions_column Actions
    %tbody
      - @snapshots.each do |snapshot|
        %tr.status_up
          -#{"id"=>1, "displayDescription"=>"sadf", "displayName"=>"asdf", "createdAt"=>"2012-05-09 01:36:45", "status"=>"available", "size"=>1, "volumeId"=>1} 
          %td=link_to snapshot[:displayName], volume_snapshot_path(:id=>snapshot[:id])
          %td=snapshot[:displayDescription]
          %td=snapshot[:size]
          %td=snapshot[:status]
          %td=snapshot[:volumeId]
          %td=snapshot[:createdAt]
          %td= link_to 'Destroy', volume_snapshot_path(:id=>snapshot[:id]), :confirm => 'Are you sure?', :method => :delete
-#= link_to 'New Snapshot', new_snapshot_path