#tenant_switcher.dropdown.switcher_bar{:tabindex => "1"}
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#tenant_switcher"}
    %h4 Project
    %h3 admin
  %ul#tenant_list.dropdown-menu
    %li.divider
    %li
      %a{:href => "/auth/switch/a761403befdb47faa83ffecdbfb4cc3e/"} demo
    %li
      %a{:href => "/auth/switch/ad75cae1d548445180414ecb1bd03ee0/"} admin
%h4 Manage Compute
%ul.main_nav
  %li.active
    =link_to "Volumes","/tenants/#{current_tenant['id']}/volumes",:class=>(controller_name == "volumes" && "active")
  %li
    =link_to "Volume_snapshots","/tenants/#{current_tenant['id']}/volume_snapshots",:class=>(controller_name == "volume_snapshots" && "active")
  %li
    =link_to "server_snapshots","/tenants/#{current_tenant['id']}/server_snapshots",:class=>(controller_name == "server_snapshots" && "active")